header{
    background-image: url("Unbenanntes_Projekt.png");
    background-color: white;
    height: 300px;
    background-position: center top;
    background-size: cover;
   
   
    
}

body {
    margin:0px;
    
}

.login{
    margin: 50px;
    text-align: center;
}
#benutzername{
    margin-bottom: 30px;
    font-size: x-large;
}
#kennwort{
    margin-bottom: 50px;
    font-size: x-large;
}
#button{
    margin-bottom: 30px;
    width: 15%;
    font-size: large;
}