header{
    background-image: url("Unbenanntes_Projekt.png");
    background-color: white;
    height: 300px;
    background-position: center top;
    background-size: cover;
   
   
    
}

body {
    margin:0px;
    
}