header{
  background-image: url("Unbenanntes_Projekt.png");
  background-color: white;
  height: 300px;
  background-position: center top;
  background-size: cover;   
}

body {
  margin:0px;
  background-color:white;
}

.verifyButton{
width: 13%;
height: 1%;
color: white;
border:solid 3px black;
margin-bottom: 10px;
font-size: 24px ;
font-family: "Arial", Arial, Helvetica, sans-serif;
text-decoration: none;
background-color:black;
}

.verifyButton:hover{
cursor: pointer;
background-color: 	#619d36;
border-color: 	#619d36;
}

.verifyInput{
margin-bottom: 30px;
font-size: x-large;
width: 18%;
}

.verify{
display: flex;
margin-top: 50px;
align-items: center;
flex-direction: column;
}

.button {
width: auto;
height: auto;
display: inline-block;
text-align:center;
font-size: 18px;
color: white;
font-family: "Arial", Arial, Helvetica, sans-serif;
background: transparent;
border: none;
}

.spalteFeatures:hover{
background-color: 	#619d36;
border-color: 	#619d36;
}

.spalteA:hover{
background-color: 	#619d36;
border-color: 	#619d36;
}

.container {
  width: auto; 
  height: auto;
}

.spalteA  {
  width:  auto;
  height: auto;
  border:  3px solid black;
  margin:  5px;
  padding: 5px;
  display: inline-block;
  text-align:center;
  color: white;
  font-size: 18px ;
  font-family: "Arial", Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color:black;
  align-items: center;
  float: right;
}

.spalteFeatures  {
  width:  auto;
  height: auto;
  border:  3px solid black;
  margin:  5px;
  padding: 5px;
  display: inline-block;
  text-align:center;
  color: white;
  border:solid 3px black;
  font-size: 18px ;
  font-family: "Arial", Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color:black;
  align-items: center;
}

#btnerstellen {
  width: 100%;
  border:  1px solid black;
  margin:  5px;
  padding: 5px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 18px ;
  font-family: "Arial", Arial, Helvetica, sans-serif;
  text-decoration: none;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#btnerstellen:hover{
  background-color: 	#619d36;
  border-color: 	#619d36;
}

textarea {
  caret-color: white;  
	width: 60em;
	height: 15em;
	border: 1px solid black;
  font-family: "Arial", Arial, Helvetica, sans-serif;
  font-size: 18px;
  resize:none;
}

#table {
  width: 100%; 
  height: auto;
  border: 1px solid;
  font-family: "Arial", Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  border-collapse: collapse;
  background-color:white;
}

th {
  color: white;
  background-color: black;
  font-size: 18px;
  font-family: "Arial", Arial, Helvetica, sans-serif;
}

td{
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.anzeige {
  margin-left: 35%;
  width: auto;
  font-size: 18px;
  font-family: "Arial", Arial, Helvetica, sans-serif;
}

.rezeptanzeigen{
  display: flex;
  align-items: center;
  flex-direction: column;   
}

::placeholder{
  text-align: center;
}

#auswahl{
  font-family: "Arial", Arial, Helvetica, sans-serif;
}